body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b3b3b;
  background-size: cover;
  background-image: url(./BlueCurls.svg);
}
